.cart {
  width: 100%;
  /* max-width: 1400px; */
  height: 100%;
  overflow: scroll;
  margin: auto;
  background-color: rgb(234, 237, 237);
  /* border: 1px solid red; */
  position: relative;
}
.cart_body {
  display: flex;
  padding: 15px;
}
@media only screen and (max-width: 1200px) {
  .cart_body {
    flex-direction: column;
  }
}
.shopping_cart {
  padding: 15px;
  background-color: #fff;
  flex: 0.7;
}
@media only screen and (max-width: 1200px) {
  .shopping_cart {
    flex: none;
  }
}
.shopping_cart > h2 {
  font-weight: 500;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}
.product {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 5px;
}
@media only screen and (max-width: 600px){
  .product{
    flex-direction: column;
  }
}
.seperator {
  border-bottom: 1px solid lightgray;
}
.product_img {
  flex: 0.3;
}
.product_image {
  width: 100%;
}
.product_description {
  flex: 0.7;
}
.product_description > h4 {
  font-weight: 600;
  font-size: 18px;
}
.product_description > p {
  font-weight: 600;
  margin-top: 10px;
}
.product_description > button {
  background-color: transparent;
  color: #1384b4;
  border: none;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}
.product_description > button:hover {
  text-decoration: underline;
}
.subtotal {
  flex: 0.3;
  background-color: #fff;
  margin-left: 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .subtotal {
    margin-top: 20px;
    flex: none;
    margin-left: 0px;
  }
}
.subtotal > p {
  font-size: 20px;
}
.subtotal > small {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.subtotal > small > span {
  margin-left: 10px;
}
.subtotal > button {
  width: 65%;
  height: 33px;
  margin-top: 20px;
  background-color: #ffd814;
  border: none;
  outline: none;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
  margin-left: 15px;
  margin-bottom: 100px;
}
/* .min-30 {
  min-width: 30rem;
} */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
select {
  padding: 5px;
}
select:focus {
  height: 30px;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
