.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Logo-signin {
  width: 100px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 0rem;
}
.form label {
  margin-bottom: 1rem;
  display: block;
}
input {
  padding: 5px;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
