.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: #131921;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .navbar {
    height: 120px;
    flex-direction: column;
  }
}
.navContent {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .navContent {
    justify-content: space-between;
  }
}
.logo {
  margin-left: 20px;
}
.navbar-logo {
  width: 100px;

  margin-top: 10px;
  cursor: pointer;
}
.navbar-search {
  display: flex;
  flex: 1;
  height: 35px;
  align-items: center;
  margin: 0px 15px;
}
@media only screen and (max-width: 767px) {
  .navbar-search {
    display: none;
  }
}
.search-input {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 0px;
}
.search {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #febd69;
  border-radius: 0px 5px 5px 0px;
}
.search-icon {
  width: 22px;
}
.navbar-mobilesearch {
  width: 90%;
  height: 35px;
  align-items: center;
  padding: 10px;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .navbar-mobilesearch {
    display: none;
  }
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}
.navbar-options {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
.option-firstline {
  font-size: 10px;
}
.option-secondline {
  font-size: 13px;
  font-weight: 800;
}
.navbar-basket {
  display: flex;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
}
.basket-count {
  margin-left: 10px;
  margin-right: 10px;
}
