.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}
.product-image{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    flex: 0.3;
    align-items: center;
}
.product-image > img{
    width: 180px;
    height: 200px;
}
.description{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    flex: 0.7;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.description > a> h5{
    font-size: 16px;
    font-weight: 600;
}
.description > a {
    text-decoration: none;
}
.description > p{
    font-weight: 600;
}
.description > button{
    width: 100%;
    height: 33px;
    background-color: #fa8900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}