.payment_container{
    width: 100%;
  height: fit-content;
  margin: auto;
  position: relative;
}
.payment_body{
    padding: 15px;
}
.form_container{
    width: 60rem;
    /* min-width: 400px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: auto;
}
@media only screen and (max-width: 1200px) {
    .form_container {
      width: 80%;
    }
  }
  .input_container{
    display: flex;
    flex-direction: column;
  }
.input_container >h1{
    font-size: 14px;
    font-weight: 600;
}
.input_radio{
    padding: 5px;
}
.form_container > button {
    /* align-self: flex-start; */
    height: 33px;
    width: 30%;
    margin-top: 20px;
    background-color: #ffa32a;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.product {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 5px;
  }