.checkout-steps{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; */
}

.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    /* padding: 1rem; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }
  .checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
  }