.order_container{
    width: 100%;
    /* max-width: 1400px; */
    background-color: rgb(234, 237, 237);
}
.order_main{
    padding: 15px;
  display: flex;
}
@media only screen and (max-width:1200px){
    .order_main{
        flex-direction:column;
    }
}
.review_order{
    background-color: #fff;
  flex: 0.7;
  padding: 15px;
}
.review_order > h2{
    font-weight: 500;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}
.Address_container{
    margin-top: 20px;
}
.Address_container >div{
    margin-top: 10px;
    margin-left: 10px;
}
.Address_container >p{
    /* font-size: 14px; */
    margin-top: 0;
}
.seperator{
    border-bottom: 1px solid lightgray;
  }
  .product_img {
    flex: 0.3;
  }
  .product_image {
    width: 50%;
    height: 50%;
  }
  .product_description {
    flex: 0.7;
  }
  .product_description > h4 {
    font-weight: 600;
    font-size: 18px;
  }
  .product_description > p {
    font-weight: 600;
    margin-top: 10px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .order_summary{
    flex: 0.3;
    background-color: #fff;
  margin-left: 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  }
  @media only screen and (max-width:1200px){
    .order_summary{
      margin-top: 20px;
      margin-left: 0px;
    }
  }
  .order_summary >ul{
  
        padding: 0;
        margin: 1rem;
        list-style-type: none;
  }
  /* .order_summary > ul> li{
    margin-top: 1rem;
  } */
  .order_summary > ul> li>h2{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .order_summary > ul> li> div>p{
    margin-top:0px;
    margin-bottom: 0px;
  }
  .seperator_line{
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
  }
  .order_summary > ul> li> div>strong{
    margin-top:10px;
    margin-bottom: 0px;
  }
  .order_summary>ul>li>button{
    height: 33px;
    width: 100%;
    margin-top: 20px;
    background-color: #ffa32a;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button_li{
    align-items: center;
  }