.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.Logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
img {
  width: 100%;
}
.Form-Container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.Form-Container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.Form-Container > form > p {
  margin-bottom: 5px;
}
.Form-Container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.Form-Container > form > input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
  border: 1px solid orange;
}
.Form-Container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login-button {
  background-color: #f0c14b;
  width: 55%;
  border-radius: 2px;
  height: 30px;
  margin-top: 20px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
.Form-Container > p > span {
  color: #426bc0;
}
.Form-Container > p {
  font-size: 12px;
  margin-top: 15px;
  word-wrap: normal;
  word-break: normal;
}
.signup-button {
  height: 30px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid;
  border-color: darkgray;
  margin-top: 10px;
  font-size: 12px;
}
.signup-button:hover {
  background-color: #dfdfdf;
  border: 1px solid gray;
}
